extends layout

block content
  h1= title
  p Welcome to #{title}. #{title} is title 
  button(type="button",class="btn btn-dark" onClick="update()") Press Me For Contants
  br
  br
  div(id="target") Display
  br
  a(href='/Animal') Animal Page

    script. 
         var client_count = 0;
         function  update() {
          
                client_count++;
               
             document.getElementById("target").innerHTML ="Value now "+client_count;
          }